div
  //- Header
  div Begin of BaseLayout

  //- Navbar
  div
    ul
      li
        router-link(:to="{name:'Home'}") 首頁
      li
        router-link(:to="{name:'About'}") 關於我們
      li
        router-link(:to="{name:'Activity'}") 社團活動
      li
        router-link(:to="{name:'Achievement'}") 成果發表

  //- Main content
  div
    block content

  //- Footer
  div End of BaseLayout
